In [1]:
def fac(n):
    if n == 0:
        return 1
    else:
        return n * fac(n - 1)

fac(10)

3628800

In [2]:
def fib(n):
    if n <= 1:
        return n
    else:
        return fib(n - 1) + fib(n - 2)

fib(10)

55

In [3]:
def fib_iterative(n):
    (a, b) = (0, 1)
    for i in range(n-1):
        (a, b) = (b, a + b)
    return b

fib_iterative(10)

55

In [4]:
%timeit fib(30)

184 ms ± 2.83 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [5]:
%timeit fib_iterative(30)

1.19 µs ± 26.2 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [2]:
##stackoverflow
def dumb_sum(n):
    if n == 0:
        return 0
    else:
        return n + dumb_sum(n - 1)

dumb_sum(10)

55

In [1]:
a = 5
a

5

In [3]:
def deep_flatten(lst):
    """
    Completely flatten an arbitrarily nested list.

    Parameters
    ----------
    lst : list
        The nested list to flatten.

    Returns
    -------
    list
        The list of all elements of lst in order, without nesting.
    """
    result = []
    for elm in lst:
        if isinstance(elm, list):
            result.extend(deep_flatten(elm))
        else:
            result.append(elm)
    return result

deep_flatten([[1, 2], 3, [4, [5, 6, [[7, 8], 9]]]])

[1, 2, 3, 4, 5, 6, 7, 8, 9]